<h3 class="text-center" style="color: blue;">Pending Applications</h3>
<div class="merge mx-auto container">
    <div class="row row-cols-sm-12 row-cols-md-12 row-cols-lg-12 row-cols-xl-12 g-4">
        <div class="card mt-4 m-2" style="width: 25rem;" *ngFor="let app of applications">
            <div class="row g-4">
                <div class="col-md-4">
                    <img [src]="app['imageUrl']" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Application Number : {{app._id}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-dark">Name : {{app.fname}} {{app.mname}} {{app.lname}}
                        </h6>
                        <p class="card-text">College name : {{app.collegename}}</p>
                        <p class="card-text">Studying year : {{app.year}}</p>
                        <p class="card-text">Caste : {{app.caste}}</p>
                        <p class="card-text">Annual Income : {{app.annualincome}}</p>
                        <div *ngIf="app.status==='Pending'" class="d-flex flex-row mx-auto">
                            <button class="btn btn-outline-success mx-3" (click)="onApprove(app._id,app)">Approve</button>
                            <button class="btn btn-outline-danger mx-3" (click)="onReject(app._id)">Reject</button>
                        </div>
                        <h5 *ngIf="app.status==='Approved'" class="text-success text-center">Application Approved</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>